@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400&display=swap');

html, body{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 300 !important;
  text-shadow: none;
}

h1, h2, h3, h4, h5 {
  text-shadow: none !important;
  font-weight: 300 !important;
}

.fw400{
  font-weight: 400 !important;
}

.selectgroup {
  display: inline-flex; }

.selectgroup-item {
  flex-grow: 1;
  position: relative; }
  .selectgroup-item + .selectgroup-item {
    margin-left: -1px; }
  .selectgroup-item:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .selectgroup-item:not(:last-child) .selectgroup-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.selectgroup-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

.selectgroup-button {
  background-color: #fdfdff;
  border-color: #e4e6fc;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  padding: 0 1rem;
  height: 35px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  min-width: 2.375rem;
  line-height: 36px; }

.selectgroup-button-icon {
  padding-left: .5rem;
  padding-right: .5rem; }
  .selectgroup-button-icon i {
    font-size: 14px; }

.selectgroup-input:focus + .selectgroup-button,
.selectgroup-input:checked + .selectgroup-button {
  background-color: #6777ef;
  color: #fff;
  z-index: 1; }

.selectgroup-pills {
  display: block;
  flex-wrap: wrap;
  align-items: flex-start; }
  .selectgroup-pills .selectgroup-item {
    margin-right: .5rem;
    flex-grow: 0; }
  .selectgroup-pills .selectgroup-button {
    border-radius: 50px !important; }

.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-flex;
  align-items: center;
  margin: 0; }

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-switches-stacked {
  display: flex;
  flex-direction: column; }
  .custom-switches-stacked .custom-switch {
    margin-bottom: .5rem; }

.custom-switch-indicator {
  display: inline-block;
  height: 2.25rem;
  width: 2.25rem;
  background: #fff;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color;
  padding-top: 6px;
  padding-left: 10px;
}

.custom-switch-indicator:before {
    content: '';
    position: absolute;
    /* height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px); */

    top: 8.7px;
    left: 0.6rem;
    background: #e9ecef;
    border-radius: 50%;
    transition: .3s left; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #6777ef;
  color: #fff;
}
  .custom-switch-input:checked ~ .custom-switch-indicator:before {
    /* left: calc(2.25rem);  */
  }

.custom-switch-input:focus ~ .custom-switch-indicator {
  border-color: #6777ef; }

.custom-switch-description {
  margin-left: .5rem;
  /* color: #424344; */
  transition: .3s color;
  font-size: 13px;
  padding-left: .7rem;
}
